# ===============================
# Mon Petit Placement
# ===============================

# WebUI
# 1. Connect to your MPP account
# 2. Once connected, report to the browser's address:
#    https://app.monpetitplacement.fr/comptes/01790541-[...]-2e37b92be612/dashboard
# 3. Your MPP_USER_INVESTMENT_ACCOUNT_ID is the UUID in the URL:
#    01790541-[...]-2e37b92be612
MPP_USER_INVESTMENT_ACCOUNT_ID="CHANGE_ME"

# ===============================
# Script
# ===============================

# Examples:
# - Linux: "/home/ubuntu/mpp-tools/src/extract_data/mpp_history.sqlite3"
# - Windows: "C:\\DEV\\mpp-tools\\src\\extract_data\\mpp.sqlite3"
DB_PATH="CHANGE_ME"

# Examples:
# - Linux: "/var/www/mpp/report.html"
# - Windows: "C:\\DEV\\mpp-tools\\src\\build_report\\wwwroot\\report.html"
REPORT_PATH="CHANGE_ME"

# Ratio (in %) of the number of data points to display on the two charts in the "Capital Trends" section (adapt for your needs)
CAPITAL_TRENDS_DOWN_SAMPLE_RATIO = 10

# Date when the portfolio was opened at MPP (adapt for your needs)
PRODUCT_TRENDS_CUTOFF_DATE = "2021-05-01"

# Maximum number of data points displayed on the charts in the "Product Trends" section (adapt for your needs)
PRODUCT_TRENDS_DOWN_SAMPLE_MAX_POINTS = 100
